.logo {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.mark {
  color: var(--green);
  width: 36px;
  height: 36px;
}

.text,
.textLight {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.text {
  color: var(--black);
}

.textLight {
  color: var(--white);
}

@media (max-width: 767px) {
  .mark {
    width: 28px;
    height: 28px;
  }
  .text,
  .textLight {
    font-size: 18px;
  }
}
